accelerate>=0.21.0
psutil
pyyaml
packaging
requests
pandas
tqdm
regex
flask
gunicorn
opencv-python
tabulate
termcolor
beautifulsoup4
six
joblib
lazy-loader
msgpack
numba
scikit-learn
scipy
yapf
imageio<3.0
absl-py
markdown
protobuf
werkzeug
pyasn1-modules
urllib3
appdirs
pywin32; platform_system=="Windows"
wcwidth
cffi
matplotlib>=3.0
